<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="ServerName" value="localhost\SQLEXPRESS" />
    <add key="UserName" value="sa" />
    <add key="Password" value="Sql2012" />
    <add key="Database" value="EG291Build90" />
    <add key="Port" value="" />
    <add key="SessionTimeOut" value="120" />
    <add key="HostName" value="RG" />
    <add key="MachineName" value="localhost" />
    <add key="IsLoggingEnabled" value="true" />
    <add key="Language" value="EN" />
    <add key="ServerHost" value="localhost" />
    <add key="ServerPort" value="9090" />
  </appSettings>
  <!--
    For a description of web.config changes for .NET 4.5 see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.5"/>
    <httpRuntime/>
    <pages controlRenderingCompatibilityVersion="4.0"/>
  </system.web>
  <system.serviceModel>
    <serviceHostingEnvironment minFreeMemoryPercentageToActivateService="0"></serviceHostingEnvironment>
    <services>
      <service behaviorConfiguration="restfulBehavior" name="RoomGuide.GuideService">
        <endpoint address="" behaviorConfiguration="web" binding="webHttpBinding"
          contract="RoomGuide.IGuideService" />
      </service>
    </services>
    <behaviors>
      <endpointBehaviors>
        <behavior name="web">
          <webHttp/>
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior name="restfulBehavior">
          <!-- To avoid disclosing metadata information, set the values below to false before deployment -->
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true"/>
          <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <protocolMapping>
      <add binding="basicHttpsBinding" scheme="https"/>
    </protocolMapping>
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      -->
    <directoryBrowse enabled="true"/>
  </system.webServer>
</configuration>